@font-face {
    font-family: 'Sriracha';
    src: url('Sriracha-Regular.ttf') format('truetype');
    font-style: normal;
}
/*@font-face {
    font-family: 'Kanit';
    src: url('Kanit-Bold.ttf') format('truetype');
    font-style: bold;
}
@font-face {
    font-family: 'Kanit';
    src: url('Kanit-ExtraBold.ttf') format('truetype');
    font-style: bolder;
}
@font-face {
    font-family: 'Kanit';
    src: url('Kanit-Italic.ttf') format('truetype');
    font-style: italic;
}
@font-face {
    font-family: 'Kanit';
    src: url('Kanit-Thin.ttf') format('truetype');
    font-style: thin;
}*/